.App {
  text-align: center;
}
p{
  margin-left: 25%;
  padding-top: 10px;
  text-align: center;
  width: 50%;
  height: 50px;
  color: white;
  background-color: #87CEFA;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
}


